/* Styling af container. */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Styling af main box */
.box {
  background-color: #d9d9d9;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 32rem;
  height: fit-content;
  padding: 3rem;
  gap: 1rem;

  /* Styling for formen, som er inde i boksen. */
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    /* Styling for en knap som er inde i linket. */
    a button {
      width: 100%;
    }
  }
}

/* Styling af error messages */
.error {
  color: red;
  font-size: 0.75rem;
}

/* Styling af Margin  */
.margin {
  margin-bottom: 30px;
}
