.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.box {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  width: 32rem;
  height: fit-content;
  padding: 3rem;
}

.box form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wrapper {
  background-color: red;
}

.errorIcon {
  color: red;
}

.errorInput {
  border: 1px solid red;
}

.errorMessage {
  color: rgb(234, 71, 71);
  font-size: 10px;
  margin: 0px 0px 20px 0px;
}
