/*Header styling*/
.header {
  height: rem(56px);
  background-color: #2c2e33;
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

/*Inner container styling*/
.inner {
  height: rem(60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Link styling*/
.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

/*Logo styling*/
.logo {
  display: flex;
  align-items: center;
}

/*Logo image styling*/
.logo img {
  height: 40px;
}

/*Icon styling*/
.icon {
  filter: brightness(0) invert(1); /* This will make the icon white */
}

/*Link styling*/
.link {
  color: white;
  text-decoration: none;
}
