/*Styling for hele error siden.*/
.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(80vh - 60px); /*Justere højden for at fylde viewport minus 60px.*/
  gap: 1rem; /*Giver noget mellemrum mellem child elementerne.*/

  /*Styling på SVG ikonet som er inde i container.*/
  svg{
    width: 20rem; /*Dette er width på ikonet.*/
  }
}

/*Styling på titel elementet. */
.title{
  font-size: 30px; /*Dette er størrelsen på teksten.*/
  font-weight: normal; 
}
